[video-music]
profile-desc="for playing audio from youtube streams, etc."
cache=yes
# Disable video entirely
video=no
# explicitly hint to ytdl to not get both audio and video tracks
ytdl-format=bestaudio/best
# limit network cache to 20MB
demuxer-max-bytes=20M

[default]
# Keep starting volume sane
volume={{ .mpv_volume }}

ytdl
ytdl-format=best
# Always choose english subtitles
slang=en

{{ if stat (joinPath .chezmoi.homeDir ".config" "mpv" (join "_" (list "config" .chezmoi.hostname))) }}
{{ include (joinPath .chezmoi.homeDir ".config" "mpv" (join "_" (list "config" .chezmoi.hostname))) }}
{{ end -}}
