local Plug = vim.fn['plug#']

vim.call('plug#begin', '~/.config/nvim/plugged')

Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-repeat'
Plug 'tpope/vim-unimpaired'
Plug 'nvim-lua/plenary.nvim'
Plug 'folke/which-key.nvim'
Plug 'neovim/nvim-lspconfig'
Plug 'mhinz/vim-grepper'
Plug 'mbbill/undotree'
Plug('nvim-treesitter/nvim-treesitter', {['do'] = vim.fn[':TSUpdate']})
{{- if (eq .chezmoi.os "openbsd") }}
-- Must lock to 0.5.0 until neovim package is updated
Plug('mfussenegger/nvim-lint', {tag='nvim-05'})
Plug('nvim-telescope/telescope.nvim', {tag = 'nvim-0.5.0'})
{{ else }}
Plug 'mfussenegger/nvim-lint'
Plug 'nvim-telescope/telescope.nvim'
{{ end -}}
Plug 'nvim-telescope/telescope-fzf-native.nvim'
Plug 'junegunn/fzf.vim'
Plug 'kevinhwang91/nvim-bqf'
-- impatient.nvim

vim.call('plug#end')

-- keep personal configs in a 'user' module
require 'user.utils'
require 'user.settings'
require 'user.treesitter'
require 'user.lsp'
require 'user.whichkey'
require 'user.telescope'
require 'user.undotree'
require 'user.bqf'

