local Plug = vim.fn['plug#']

vim.call('plug#begin', '~/.config/nvim/plugged')

-- TODO find reason of conflicting keymap
Plug 'tpope/vim-commentary'
-- TODO find reason of conflicting keymap
Plug 'tpope/vim-surround'
Plug 'tpope/vim-repeat'
-- TODO copy my preferred unimpaired mappings to lua
Plug 'tpope/vim-unimpaired'
Plug 'nvim-lua/plenary.nvim'
Plug 'nvim-lua/popup.nvim'
Plug 'folke/which-key.nvim'
Plug 'neovim/nvim-lspconfig'
Plug 'mhinz/vim-grepper'
Plug 'mbbill/undotree'
-- Lock to last commit before their version bump to nvim 7+
Plug('nvim-treesitter/nvim-treesitter', {commit = '8a1acc00d', ['do'] = vim.fn[':TSUpdate']})
Plug 'mfussenegger/nvim-lint'
-- Lock to 0.6.0 for sanity
Plug('nvim-telescope/telescope.nvim', {tag = 'nvim-0.6'})
Plug 'nvim-telescope/telescope-fzf-native.nvim'
Plug 'junegunn/fzf.vim'
Plug 'kevinhwang91/nvim-bqf'
Plug 'natecraddock/workspaces.nvim'
Plug 'delphinus/agrp.nvim'
-- impatient.nvim

vim.call('plug#end')

-- keep personal configs in a 'user' module
require 'user.utils'
require 'user.settings'
require 'user.treesitter'
require 'user.lsp'
require 'user.whichkey'
require 'user.telescope'
require 'user.undotree'
require 'user.grepper'
require 'user.bqf'
require 'user.workspaces'
require 'user.lint'

-- TODO should guard this with 'does colorscheme exist'
vim.cmd("colorscheme zenburn")
