# This is Git's per-user configuration file.
[user]
	name = {{ .name }}
	email = {{ .email }}
[push]
	default = matching
	followTags = true
[core]
	autocrlf = input
	ignorecase = false
	safecrlf = warn
	excludesfile = {{ joinPath .chezmoi.homeDir ".gitignore_global" }}
[init]
	defaultBranch = main
[alias]
# Read-only share
	serve = !git daemon --reuseaddr --base-path=. --export-all ./.git --verbose
# read/write share
	hub = !git daemon --reuseaddr --base-path=. --export-all --enable=receive-pack  --informative-errors --verbose

# from garybernhardt
	st = status
	ci = commit --verbose
	co = checkout
	di = diff
	dc = diff --cached
	amend = commit --amend
	aa = add --all
	ff = merge --ff-only
	noff = merge --no-ff
	fa = fetch --all
	pom = push origin master
	ds = diff --stat=160,120
	dh1 = diff HEAD~1

# Divergence (commits we added and commits remote added)
	div = divergence

# Goodness (summary of diff lines added/removed/total)
	gn = goodness
	gnc = goodness --cached

	fff = !git fetch && git merge --ff-only
# List ages of last commit on all remote and local branches
	bar = !git branch -rvv --format='%(committerdate:iso8601), %(committerdate:relative) - %(refname:short)' | sort
	bal = !git branch -vv --format='%(committerdate:iso8601), %(committerdate:relative) - %(refname:short)' | sort
# default branch name of origin repo, regardless of local changes
	dn = !basename $(git ls-remote --symref origin HEAD 2> /dev/null | awk '/^ref:/ {print $2}')
# checkout the default branch of repo(master/main/etc.)
	com = !git switch $(git dn)
# TODO guard against using this if on default branch, but that requires an if()!
	pob = !git push -u origin "$(git rev-parse --abbrev-ref HEAD)"

{{- if stat ( joinPath .chezmoi.homeDir ".config" "git" .chezmoi.hostname ) }}
{{ include ( joinPath .chezmoi.homeDir ".config" "git" .chezmoi.hostname ) }}
{{ end -}}
